<p>this also works</p>
<button ng-click="(showCourses)"btn btn-primary>View Course</button>











<!-- <div class="container">
<div class="table-responsive">
<table  class="table" >
    <tr><th>Course</th><td>CS-2103</td></tr>
    <tr><th>Course Title</th><td>Digital logic And Design</td></tr>
    <tr><th>Credit Hours</th><td>2+1</td></tr>
    <tr><th>Prerequesties by Course(s) and Topics</th><td></td></tr>
    <tr><th>Assesment instruction With Weights(<br>homework<br>quizes<br>midterms<br>final<br>programing<br>assignments<br>Lab work,etc</th><td>Quiz=10 <br>Assignment=10 <br> lab =50<br>Mid=30<br>Final=50<br>Total=+150<br></td></tr>
    <tr><th>Course  Coordinator</th><td>Dr Ali Abbas</td></tr>
    <tr><th>Url (if Any)</th><td>..</td></tr>
</table>
</div>
</div> -->