<div class="container-fluid bgstyle">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
        <!-- <a class="navbar-brand" href="#">Admin Pannel</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin">Home</a>
             </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Teacher
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/addteacher">Add Teacher</a>
                <a class="dropdown-item" routerLink="/teacher">view Teachers</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> --> 
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Course
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/course">Add Course</a>
                  <a class="dropdown-item" routerLink="/managecourse">view Courses</a>
                 
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Book
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/addbook">Add Book</a>
                    <a class="dropdown-item" routerLink="/books">view Books</a>
                </div>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Session
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/addsession">Add Session</a>
                    <a class="dropdown-item" routerLink="/viewsession">View Sessions</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
             </ul>
        </div>
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link fa fa-sign-out" routerLink="/login">logout</a>
                </li>
             </ul>
      </nav>
<div class="container pt-5 pb-2 cntnr">
  <div class="card-heading row">
    <div class="col-3"></div>
    <div class="col-6 ml-5">
        <h1 class="text-center text-white" style="background-color: yellowgreen;
          font-family: Times New Roman
        ">{{FormTitle}}</h1>
    </div>

  </div>
    <div class="row">

      <div class="align-center col-6  ">
        <form [formGroup]="teacherform" class="pt-2 pb-2 " (ngSubmit)="saveRecord()" >
          <div class="form-group " *ngIf="filesChosen">
            <p class="input-group">
              <i class="fa fa-camera fa-2x  user-icon fa-fw" aria-hidden="true"></i>
              <label for="file" class="col-sm-10 form-control">Choose profile picture</label>
              <input type="file" name="pic" accept="image/* " (change)="selectedFile($event)"
                class="border-left-0 pl-2 pr-2 form-control mr-2px" >
            </p>
          </div>

          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-user fa-2x  user-icon fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="id" aria-describedby="id"
                placeholder="Teacher ID" formControlName="t_id">
            </p>
          </div>
          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-user fa-2x user-icon fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="name" aria-describedby="name"
                placeholder="Teacher Name" formControlName="t_name" pattern="^[A-Za-z]*$">
            </p>
          </div>
          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-user fa-2x  fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="designation" aria-describedby="designation"
                placeholder="Designation" formControlName="t_desig">
            </p>
          </div>
          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-envelope fa-2x  fa-fw" aria-hidden="true"></i>
              <input type="date" max="{{MinAge | date:'yyyy-MM-dd'}}" class="form-control " id="dob" aria-describedby="dob" placeholder="Date Of Birth"
                formControlName="t_dob">
            </p>
          </div>
          <div class="form-group ">
            <div class="input-group">
              <i class="fa fa-key fa-2x  fa-fw" aria-hidden="true"></i>
              <input type="password" class="form-control " id="pswd" aria-describedby="pswd" placeholder="Password"
                formControlName="t_pswd" [ngClass]="{ 'is-invalid':  f.t_pswd.errors }">
                <div *ngIf="f.t_email.errors" class="invalid-feedback">
                  <div *ngIf="f.t_pswd.errors.required" class="text-right" ><span class="bg-warning">pasword is required</span></div>
                  <div *ngIf="f.t_pswd.errors.minlength" class="text-right"><span class="bg-warning">Atleast 6 characters</span></div>
            </div> 
            </div>
          </div>


        </form>
      </div>

      <div class="col-6">
        <form [formGroup]="teacherform" class="pt-2 pb-2 " (ngSubmit)="saveRecord()">


          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-user fa-2x  user-icon fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="address" aria-describedby="address"
                placeholder="Address" formControlName="t_address">
            </p>
          </div>
          <div class="form-group ">
            <div class="input-group">
              <i class="fa fa-user fa-2x user-icon fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="email" aria-describedby="email"
                placeholder="Email" formControlName="t_email" [ngClass]="{ 'is-invalid':  f.t_email.errors }">
              <div *ngIf="f.t_email.errors" class="invalid-feedback">
                  <div *ngIf="f.t_email.errors.required" class="text-right" ><span class="bg-warning">Email is required</span></div>
                  <div *ngIf="f.t_email.errors.email" class="text-right"> <span class="bg-warning">Email must be a valid email address</span></div>
            </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="input-group">
              <i class="fa fa-user fa-2x  fa-fw " aria-hidden="true"></i>
              <div class="form-check-inline form-control align-center">
                  <label class="form-check-label p-2" for="radio1">
                    <input type="radio" class="form-check-input" id="male" name="t_gender" value="Male" formControlName="t_gender" checked>Male
                  </label>
                
                
                  <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="female" name="t_gender" value="Female" formControlName="t_gender">Female
                  </label>
                
                
                  <label class="form-check-label p-2">
                    <input type="radio" class="form-check-input" name="gender" value="other" disabled>Other
                  </label>
                </div>
            </div>
          </div>
          <div class="form-group ">
              <p class="input-group">
                <i class="fa fa-user fa-2x  fa-fw" aria-hidden="true"></i>
                <input type="text" class="form-control " id="qualification" aria-describedby="qualification" placeholder="Qualification "
                  formControlName="t_quali">
            </p>
            </div>
          <div class="form-group ">
            <p class="input-group">
              <i class="fa fa-phone fa-2x  fa-fw" aria-hidden="true"></i>
              <input type="text" class="form-control " id="phone" aria-describedby="phone" placeholder="Contact Number "
                formControlName="t_phone">
            </p>
          </div>
          <!-- <div class="form-group">
            <p class="input-group">
              <i class="fa fa-unlock fa-2x fa-fw"></i>
              <input type="password" class="form-control" id="password" placeholder="Password"
              >
            </p>
          </div> -->


          <div class="text-white text-right">
            <button type="submit" class="btn btn-primary float-right" [disabled]="teacherform.invalid">Save Records</button>
           
          </div>
        </form>
      </div>
    </div>
  </div>

</div>