<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">

  <div style="background-color: #068d49;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter text-white mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus text-white mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin text-white mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram text-white"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5  " >

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-6">
          <!-- col-md-5 col-lg-6 col-xl-2 mx-auto mb-4 -->

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">University Of Ajk</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> Information Technology (CS&IT) is
          one of the established
          constitute units of the Faculty of Sciences, University of Azad Jammu and Kashmir (UAJ&K).
          it`s history dates back to 1991, when Computer Center was established at the UAJ&K
          with the objective of producing IT professionals to fulfill immediate demand of IT
          industry by offering Postgraduate Diploma program in Computer Science
         </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="">

        <!-- Links -->
        <!-- <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Saad Abbasi</a>
        </p>
        <p>
          <a href="#!">Full Stack Web Developer</a>
        </p>
        <p>
          <a href="#!">From Uajk</a>
        </p>
        <p>
          <a href="#!">Pakistan</a>
        </p> -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <!-- <p>
          <a href="#!">Uajk Website</a>
        </p> -->
        <p>
          <a routerLink="/books">Recommended Books</a>
        </p>
        <p>
          <!-- <a routerLink="/managecourse">Couses Details</a> -->
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Muzaffarabad , Ajk</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> sabbasi782@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +92 312 7375343</p>
        <p>
          <i class="fa fa-print mr-3"></i> +92 349 5463110</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://twiter.com/Saad_Abbasi._">Saad Abbasi</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<!-- <footer>
    <div class="container">
      <a class="logo-font" routerLink="/">Saad Abbasi</a>
      <span class="attribution">
        &copy; {{ today | date: 'yyyy' }}.
         An interactive learning project from <a href="https://thinkster.io">Saad Abbasi</a>.
        Code licensed under MIT.
      </span>
    </div>
  </footer> -->