<div class="container-fluid bg">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Admin Pannel</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/admin">Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Teacher
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/addteacher">Add Teacher</a>
            <a class="dropdown-item" routerLink="/teacher">view Teachers</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Course
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/course">Add Course</a>
            <a class="dropdown-item" routerLink="/managecourse">view Courses</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Book
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/addbook">Add Book</a>
            <a class="dropdown-item" routerLink="/books">view Books</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Session
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/addsession">Add Session</a>
            <a class="dropdown-item" routerLink="/viewsession">View Sessions</a>
            <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link fa fa-sign-out" routerLink="/login">logout</a>
      </li>
    </ul>
  </nav>
  <div class="container pt-5">
      <div class="row">
          <div class="col"></div>
          <div class="col-5">
      <div class="card border-success bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header lg-header font-weight-bold text-center  text-white ">Add Course Form</div>
          <div class="card-body text-success">
              <form [formGroup]="courseAdd" (ngSubmit)="saveCourse()">
                  <div class="form-group">
                      <label for="courseCode" class="orignal">Course Code</label>
                      <input type="text" class="form-control" id="b_id"
                          formControlName="courseCode">
                  </div>
                  <div class="form-group">
                      <label for="courseTitle"  class="orignal">Coure Title</label>
                      <input type="text" class="form-control" id="courseTitle"
                          formControlName="courseTitle">
                  </div>
                  <div class="form-group">
                      <label for="lecCdtHrs">Lecture Credit Hours</label>
                      <input type="text" class="form-control" id="lecCdtHrs" 
                          formControlName="lecCdtHrs">
                  </div>
                  <div class="form-group">
                      <label for="labCdtHrs" >Lab Credit Hours</label>
                      <input type="text" class="form-control" id="labCdtHrs" 
                          formControlName="labCdtHrs">
                  </div>
                  <!-- <div class="form-group">
                          <label for="creditHours">Credit Hours</label>
                          <input type="text" class="form-control" id="Credit Hours" placeholder="Credit Hours"
                              formControlName="creditHours">
                      </div> -->
                      
                  <button type="submit" class="btn btn-warning btn-group-sm float-right">Save Course</button>
              </form>
          </div>
      </div>
  </div>
  <div class="col"></div>
  </div>
  </div>
</div>