.bg{
    height: 600px;
    width: 1349px;
    background-size: cover;
    background: url(/assets/images/bgcoursev.png)no-repeat ;
    
    
}
table{
    background-color: rgba(128, 128, 128, 0.596);
}