.bg{
    height: 600px;
    width: 1349px;
    background-size: cover;
    background: url(/assets/images/bgdaily.png);
}
.card{
    background-color: transparent;
    border-right  :3px solid rgb(0, 255, 21) ;
    border-left :3px solid rgb(0, 255, 21) ;
    border-radius: 2%;
}
.card-header{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 192, 203, 0.507);
}
.btn{
    background:rgba(49, 4, 247, 0.253);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
    
}
textarea{
    background-color: rgba(255, 255, 255, 0.39);
    border: 2px solid yellow;
}
.btn:hover{
    background-color: blue;
}